# Lecture 07

Your are provided data of a company and its employess in Json formate.
You need to perform EDA and solve the problems listed down.

In [264]:
# Load Libraries
import pandas as pd
import json

**Question 1:**

Retrieve and display the company's name and location from the JSON data.

In [265]:
with open('datafiles/employee_company_data.json') as file:
    employee_company_data = json.load(file)

employee_company_data.keys()

dict_keys(['metadata', 'employees', 'departments', 'company_info', 'office_locations', 'benefits'])

In [266]:
employee_company_data['company_info'].keys()
company_name = employee_company_data['company_info']['name']
company_location = employee_company_data['company_info']['location']

f'Comapany name is {company_name} and location is {company_location}'

'Comapany name is TechCorp and location is San Francisco, CA'

Convert given employees data into a dataframe.

In [267]:
employees_df = pd.DataFrame(employee_company_data['employees'])
employees_df

,id,firstName,lastName,position,salary,email,hireDate,manager,address
0,1,John,Doe,Software Engineer,75000,john.doe@techcorp.com,2020-05-15,Michael Brown,"{'street': '123 Main St', 'city': 'San Francis..."
1,2,Alice,Smith,Data Analyst,60000,alice.smith@techcorp.com,2019-08-22,Michael Brown,"{'street': '456 Elm St', 'city': 'San Francisc..."
2,3,Bob,Johnson,Product Manager,85000,bob.johnson@techcorp.com,2018-03-10,Sarah Williams,"{'street': '789 Oak St', 'city': 'San Francisc..."
3,4,Emily,Wilson,UX Designer,70000,emily.wilson@techcorp.com,2021-02-28,Sarah Williams,"{'street': '101 Pine St', 'city': 'San Francis..."

**Question 2:**

 Find and display the first name, last name, and email address of the employee with ID 3.

In [268]:
employees_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         4 non-null      int64
 1   firstName  4 non-null      object
 2   lastName   4 non-null      object
 3   position   4 non-null      object
 4   salary     4 non-null      int64
 5   email      4 non-null      object
 6   hireDate   4 non-null      object
 7   manager    4 non-null      object
 8   address    4 non-null      object
dtypes: int64(2), object(7)
memory usage: 420.0+ bytes

In [269]:
employees_df[(employees_df['id']== 3)].iloc[:,[0,1,2,5]]

   id firstName lastName                     email
2   3       Bob  Johnson  bob.johnson@techcorp.com

**Question 3:**

Find the department with the most employees, and display its name along with the number of employees it has.

In [270]:
employee_company_data['departments']
print('Engineering and Product management departments have maximum employees')

Engineering and Product management departments have maximum employees

In [271]:
engg = employee_company_data['departments']['engineering']
prod_mang = employee_company_data['departments']['product_management']
f'both of departments have {len(engg)} number of employees'

'both of departments have 2 number of employees'

**Question 4:**

Retrieve and display the street addresses of the "san_francisco_hq" and "new_york_branch" office locations.

In [272]:
employee_company_data['office_locations'].keys()

dict_keys(['san_francisco_hq', 'new_york_branch'])

In [273]:
street_SF = employee_company_data['office_locations']['san_francisco_hq']['street']
street_NY = employee_company_data['office_locations']['new_york_branch']['street']

f'Street adress of San Francisco HQ is "{street_SF}" and New York branch is "{street_NY}"'

'Street adress of San Francisco HQ is "500 Tech Plaza" and New York branch is "123 Wall St"'

**Question 5:**

Determine whether the company offers health insurance and a retirement plan. Provide the results as "Yes" or "No."

In [274]:
employee_company_data['benefits'].keys()

dict_keys(['health_insurance', 'retirement_plan', 'vacation_days'])

In [275]:
health_insurance = employee_company_data['benefits']['health_insurance']
retirment_plan = employee_company_data['benefits']['retirement_plan']

print('Health Insurance: ',health_insurance)
print('Retirment Plan: ',health_insurance)

Health Insurance:  True
Retirment Plan:  True

**Question 6:**

Display the version and last updated date from the metadata section of the JSON data.

In [276]:
employee_company_data['metadata']

{'version': '1.0',
 'description': 'Employee and Company Data',
 'last_updated': '2023-09-30'}

**Question 7:**

 Sort the employees by their hire date in ascending order and display the first five employees in the sorted list.

In [277]:
employees_df.sort_values(by='hireDate')

,id,firstName,lastName,position,salary,email,hireDate,manager,address
2,3,Bob,Johnson,Product Manager,85000,bob.johnson@techcorp.com,2018-03-10,Sarah Williams,"{'street': '789 Oak St', 'city': 'San Francisc..."
1,2,Alice,Smith,Data Analyst,60000,alice.smith@techcorp.com,2019-08-22,Michael Brown,"{'street': '456 Elm St', 'city': 'San Francisc..."
0,1,John,Doe,Software Engineer,75000,john.doe@techcorp.com,2020-05-15,Michael Brown,"{'street': '123 Main St', 'city': 'San Francis..."
3,4,Emily,Wilson,UX Designer,70000,emily.wilson@techcorp.com,2021-02-28,Sarah Williams,"{'street': '101 Pine St', 'city': 'San Francis..."

**Question 8:**

Count the number of employees in the dataset and display the result.

In [278]:
employees_df['firstName'].count()

4

**Question 9:**

Identify employees who do not have a manager (i.e., manager field is empty), and display their names and positions.

In [279]:
employees_df['manager'].isnull()

print('None of the employ is without a manager')

None of the employ is without a manager

**Question 10: Bonus Part**

Using a geocoding service or library of your choice (e.g., geopy), convert the street addresses of all office locations into latitude and longitude coordinates. Then, provide the coordinates for each office location.

In [280]:
from geopy.geocoders import Nominatim

In [281]:
street_SF
street_NY

'123 Wall St'

In [282]:
# Initialize the geocoder
geolocator = Nominatim(user_agent="my_geocoder")

In [284]:
# Geocode the address
location_SF = geolocator.geocode(street_SF)
location_NY = geolocator.geocode(street_NY)

In [285]:
print(f'Latitude of San Francisco HQ is {location_SF.latitude} and longitude is {location_SF.longitude}')
print(f'Latitude of New York Branch is {location_NY.latitude} and longitude is {location_NY.longitude}')

Latitude of San Francisco HQ is 33.57840935 and longitude is -101.90263458857967
Latitude of New York Branch is 37.9904799 and longitude is -120.38250281455683